<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0">    <!-- So that mobile webkit will display zoomed in -->
  <meta name="format-detection" content="telephone=no"> <!-- disable auto telephone linking in iOS -->

  <style type="text/css">

  </style>

</head>
<body>
    <table style="width: 100%">
        <thead>
            <tr >
                <th style="text-align: left"><img src="{{full_url}}/img/logo.jpg"/> </th>
                <th style="text-align: right">{{add_time}} </th>
            </tr>
            <tr style="height: 80px;"><th colspan="3">Payment infomation error</th></tr>
        </thead>
        <tbody>
            <tr><td style="font-weight: 600;text-align: left; width : 200px">Payment status : </td><td>{{paymentStatus}}</td></tr>
            <tr><td style="font-weight: 600;text-align: left;width : 200px">Return url : </td><td>{{returnUrl}}</td></tr>
            <tr><td style="font-weight: 600;text-align: left; width : 200px">Error : </td><td>vpc_SecureHash not equal SecureHash string after computed</td></tr>
        </tbody>
    </table>


</body>
