<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
    <p>Chào {{name}},</p>
    <br/> Bạn đã được mời để gia nhập IZIHelp với tên miền con {{sub_domain}}. IZIHelp là không gian làm việc của bạn để hỗ trợ và liên lạc với khách hàng.
    <br/>
    <br/> Emai đăng nhập của bạn: {{email}}
    <br/> Mật khẩu của bạn: {{new_password}}
    <br/>
    <br/> Sau cùng, bạn có thể truy cập IZIHelp bằng cách trực tiếp truy xuất <a href="{{url}}">{{url}}</a>.
    <br/>
    <br/>
    <p>Nhóm hỗ trợ của IZIHelp</p>
</body>

</html>
