<script id="tpl_tab_import" type="text/html">
    <require from="./resources/custom-elements/mde-table"></require>
    <div id="tab-item-import">
        <div class="mde-p10">
            <div class="mde-mTop">
                <form id="upload-form">
                    <div class="mde-mB10 group-input">
                        <div class="mde-cl-gray-light mde-mB5" t="import.ticket.choose_file"></div>
                        <mde-file file.bind="file" mde-class="mde-dIB" change.delegate="fileChanged($event)"></mde-file>
                        <input type="hidden" id="upload-input"/>
                    </div>
                    <button class="mde-hidden" type="reset"></button>
                </form>
            </div>
            <div class="mde-mTop" if.bind="logs != null && logs !=''">
                <div class="mde-cl-gray-light">${_t.logs}</div>
                <mde-input id="logs" type="textarea" value.bind="logs" rows="10" mde-class="w100per" />
            </div>
        </div>
        <div class="mde-p10 mde-mTop">
            <div class="mde-brTop mde-pTop">
                <div class="mde-mBottom">
                    <div class="mde-cl-gray-light">${_t.content}</div>
                    <mde-input id="content" type="textarea" value.bind="formData.content" rows="8" mde-class="w100per" />
                </div>
                <div class="mde-mTop">
                    <button if.bind="formData.content && file" class="mde-mTop mde-dIB mde-default-btn mde-mRight ${isProgressing? 'mde-actived-loading': ''}" disabled.bind="isProgressing" click.delegate="sendSms()">
                        <span>${_t.send}</span>
                        <span class="mde-loading"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>