<link rel="stylesheet" type="text/css" href="{{full_url}}/css/font-awesome.min.css"/>
<table>
    <tr>
        <td>
            <table>
                <tr><td><img src="{{full_url}}/img/logo.jpg"></td></tr>
                <tr><td>
                    <h1>Ready to Izi your customer service?</h1>
                    <p>Welcome to your 30-day trial of IZIHelp! Ready to dive in? Here's <br>
                        your login link plus some helpful resources to get you started.</p>
                    <div>
                        Your personal login link:<br>
                        <a href="{{full_url}}">{{full_url}}</a>
                        <table>
                            <tr>
                                <td><i class="fa fa-check"></i></td>
                                <td><b>Engage</b><br>
                                    Respond to--and solve!--your first ticket.<br>
                                    <a href="{{full_url}}/ticket">Submit a test ticket &raquo;</a></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-envelope-o"></i></td>
                                <td><b>Connect</b><br>
                                    Set up your email support channel.<br>
                                    <a href="{{full_url}}/settings/channel/email">Configure email &raquo;</a></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-users"></i></td>
                                <td><b>Invite</b><br>
                                    Add your support agents and other users.<br>
                                    <a href="{{full_url}}/settings/account">Start building your team &raquo;</a></td>
                            </tr>
                        </table>
                    </div>
                </td></tr>
            </table>
        </td>
    </tr>
    <tr><td>Not sure where to start? Need more guidance? We're here to help!<br>
        Email: support@izihelp.com | Phone: {{phone_number}}</td></tr>
    <tr>
        <td>
            <p>The IZIHelp Support Team</p>
        </td>
    </tr>
</table>
