<div class="requester-tickets">
    <div class="nav">
        <button class="btn_refresh btn btn-primary-custom pull-right refresh_ticket">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
    <div class="title">{{lng.profile_requester.title}}: </div>
    <div class="profile">
        <div class="body_menu body_menu2">

        </div>
    </div>
    <div class="title">{{lng.text.title}}: </div>
    <div class="tickets"> </div>
    <div class="group_btn_request">
        <div class="btn_request prev_request">‹</div>
        <div class="btn_request next_request">›</div>
    </div>
</div>
