<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0">    <!-- So that mobile webkit will display zoomed in -->
  <meta name="format-detection" content="telephone=no"> <!-- disable auto telephone linking in iOS -->



</head>
<body>

    <table style="width: 100%">
        <thead>
             <tr>
                <th style="text-align: left"><img src="{{full_url}}/img/logo.jpg"/> </th>
                <th style="text-align: right">{{add_time}} </th>
            </tr>
            <tr>
                <th><h2>Thông tin thanh toán</h2></th>
            </tr>

        </thead>
    </table>
    <table style="width: 100%">
        <thead>
        <tr>
            <td style="width: 20%; text-align: left" >
                <span>Chân thành xin lỗi </span>
            </td>

        </tr>
          <tr>
            <td style="width: 20%; text-align: left" >
                <span>Giao dịch không thành công</span>
            </td>

        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
