<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
    <p>Hi {{name}},</p>
    <br/> You have been invited to join the IZIHelp for '{{sub_domain}}' subdomain. IZIHelp is your workspace to support and communicate with customers.
    <br/>
    <br/> Your email login is: {{email}}
    <br/> Your password is: {{new_password}}
    <br/>
    <br/> Afterwards, you can access your IZIHelp by going directly to <a href="{{url}}">{{url}}</a>.
    <br/>
    <br/>
    <p>The IZIHelp Support Team</p>
</body>

</html>
