<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
    <p>Xin chào,</p>
    <br />
    <p>
        Bạn đã yêu cầu thêm hoặc thay đổi email support từ tài khoản của bạn tại {{url}}.
    </p>
    <p>Xin vui lòng nhấn vào đường dẫn để xác nhận yêu cầu của bạn:</p>
    <p><a href="{{url_verify}}">{{url_verify}}</a></p>
    <strong>Nếu bạn không thực hiện yêu cầu này, bạn có thể bỏ qua email này.</strong>
    <br />
    <br />
    <p>Nhóm hỗ trợ của IZIHelp</p>
</body>

</html>
