<link rel="stylesheet" type="text/css" href="{{full_url}}/css/font-awesome.min.css" />
<table>
    <tr>
        <td>
            <table>
                <tr>
                    <td><img src="{{full_url}}/img/logo.jpg"></td>
                </tr>
                <tr>
                    <td>
                        <h1>Sẵn sàng sử dụng IZIHelp - Dịch vụ chăm sóc khách hàng của bạn?</h1>
                        <p>Chúc mừng bạn có 30 ngày dùng thử IZihelp! Sau đây là
                            <br> liên kết đăng nhập cùng với vài tài nguyên hữu ích để bạn bắt đầu.
                        </p>
                        <div>
                            Liên kết đăng nhập của bạn:
                            <br>
                            <a href="{{full_url}}">{{full_url}}</a>
                            <table>
                                <tr>
                                    <td><i class="fa fa-check"></i></td>
                                    <td><b>Tham gia</b>
                                        <br> Phản hồi và giải quyết yêu cầu đầu tiên của bạn.
                                        <br>
                                        <a href="{{full_url}}/ticket">Gửi một yêu cầu thử &raquo;</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-envelope-o"></i></td>
                                    <td><b>Kết nối</b>
                                        <br> Thiết lập kênh hỗ trợ email đầu tiên của bạn.
                                        <br>
                                        <a href="{{full_url}}/settings/channel/email">Cấu hình email &raquo;</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-users"></i></td>
                                    <td><b>Mời</b>
                                        <br> Thêm nhân viên và người dùng.
                                        <br>
                                        <a href="{{full_url}}/settings/account">Bắt đầu xây dựng nhóm làm việc của bạn &raquo;</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>Không chắc làm sao để bắt đầu? Cần thêm hường dẫn? Chúng tôi sẵn sàng giúp bạn!
            <br> Email: support@izihelp.com | Điện thoại: {{phone_number}}
        </td>
    </tr>
    <tr>
        <td>
            <p>Nhóm hỗ trợ của IZIHelp</p>
        </td>
    </tr>
</table>
