<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
    <p>Xin chào {{name}},</p>
    <br />
    <p>
        Bạn đã yêu cầu thay đổi mật khẩu từ tài khoản của bạn tại {{url}}.
    </p>
    <p>Xin vui lòng nhấn vào đường dẫn để thay đổi lại mật khẩu của bạn:</p>
    <p><a href="{{url_reset}}">{{url_reset}}</a></p>
    <strong>Nếu bạn không thực hiện yêu cầu này, bạn có thể bỏ qua email này.</strong>
    <br />
    <br />
    <p>Nhóm hỗ trợ của IZIHelp</p>
</body>

</html>
