<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
    <p>Dear,</p>
    <br />
    <p>
        You have requested add or update email to mail support for your account at {{url}}.
    </p>
    <p>Please visit this url to verify your email support:</p>
    <p><a href="{{url_verify}}">{{url_verify}}</a></p>
    <strong>If you didn't make this request , you can ignore this email.</strong>
    <br />
    <br />
    <p>The IZIHelp Support Team</p>
</body>

</html>
