/* css chat */
.content-app {
    text-align: center;
}
.title-content {
    color: #08c;
    font-weight: bold;
    overflow: hidden;
}
.btn-connect {
    background-color: #78a300 !important;
    text-decoration: none !important;
    color: #fff;
    display: none;
}
